.calendar-container {
  font-family: 'Pretendard', sans-serif;
  padding: 40% 20px;
  background-color: #fcfcfb; 
  color: #2D3037;
  text-align: center;
}

.calendar-month {
  margin-bottom: 24px;
  font-size: 50px;
  font-weight: 500;
  line-height: 0.9em;
}

.countdown-timer {
  margin-top: 60px;
}

.calendar-header {
  margin-bottom: 40px;
}

.wedding-year-month {
  margin-bottom: -5px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}

.wedding-time {
  margin: 0;
  font-size: 16px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 350px;
  margin: 0 auto;
  gap: 15px 0;
}

.day-label {
  padding-bottom: 20px;
  color: #444;
  font-size: 12px;
  font-weight: bold;
}

.day-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 35px;
  font-size: 14px;
}

.wedding-day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  text-decoration: underline;
}