.greeting-section {
  height: 100vh;
  background-image: url('https://d308a0brqwepvz.cloudfront.net/wedding/visual01.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.greeting-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 50% 0;
  background-color: #fff;
  color: #fff;
  text-align: center;
}

.serif-label {
  font-family: 'serif';
  margin-bottom: 15px;
  color: #a8a39d;
  font-size: 11px;
  letter-spacing: 0.3em;
}

.greeting-text {
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}

.divider {
  width: 1px;
  height: 40px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.save-the-date-small {
  font-family: "Carrois Gothic", sans-serif;
  margin-top: 30px;
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  opacity: 0.8;
}
