.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  width: 20px !important;
  height: 20px !important;
  color: #fff !important;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  font-size: 20px !important; 
  font-weight: bold;
}

.mySwiper .swiper-button-next {
  right: 10px;
}

.mySwiper .swiper-button-prev {
  left: 10px;
}

.mySwiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide-bg {
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}